body{
    margin:0;
    background:#101010;
    font-family:Arial;
    color:white;
}

.chat{
    width:700px;
    margin:auto;
    margin-top:40px;
}

#messages{
    height:500px;
    background:#181818;
    border-radius:12px;
    overflow:auto;
    padding:15px;
}

.user{
    color:#4fc3ff;
    margin:10px 0;
}

.ai{
    color:#6eff8d;
    margin:10px 0;
}

.bottom{
    display:flex;
    margin-top:15px;
}

input{
    flex:1;
    padding:15px;
    font-size:18px;
}

button{
    width:120px;
    font-size:18px;
}